body.dark{
    --bg: #0f1724
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: auto;
    background-color: var(--bg);
    border-radius: 10px;
}
.nav{
    height: 70px;

    width: 100%;
    background-color: #FFEDBB;

}
#head{
    position : relative;
    text-align: center;
    top: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
#logo{
    position : absolute;
width: 65px;
height: 65px;
top: 5px ;
}
#user{
    position : absolute;
width: 45px;
height: 45px;
top: 10px ;
left: 1470px ;
}
#lang{
    position: absolute;
    left: 1400px;
     
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;}

    .cards{
        margin-top: 200px;
        margin-left: 250px;
        width: 1920px;
        height : 600px;
        display: flex;
padding: 20px;
gap: 50px;
        
    }
    .cards img{
        margin-top: 20px;
        width: 230px;
        height: 230px;
    }
    #reg{
        margin-left: 90px;

    }
    #sc{
        margin-left: 60px;
   
    }
     button{
        position: relative;
    width: 250px;
    height: 60px;
    top: 350px;
    left: 50px;
    background-color: #FFEDBB;
    border-radius: 10px;
    font-style: normal;
font-weight:bold;
font-size: large;
   }
    .register,.scan{
        width: 400px;
        height: 500px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
        padding: 20px;
    }

    .scan p,.register p{
     margin-top: 120px;
     margin-left: 50px;
        color: blue;
     font-size: x-large;
    }
#tg2{
    position: relative ;
    left: 50px;
}
#tg1{
    position: relative ;
    left: 30px;
}